<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Calendar</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=  %></td>
    <td><%= user.email %></td>
    <td><%= user.admin? ? 'yes' : 'no' %></td>
    <td><%= link_to 'view calendar', calendar_index_path %></td>
  </tr>
<% end %>
</table>
